@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Вопрос";
}


@using ConsultationWeb.Classes.DTO;

@{
    string sessionId = (string)ViewData["SessionId"];
    VariableDto tempVar = (VariableDto)ViewData["Quest"];
}


<div class="jumbotron">
    <div class="row margin-bottom-20">
        <div class="offset-sm-1 col col-sm-11">
            <h2>@(tempVar?.Question ?? "Сегодня нет вопросов")</h2>
        </div>
    </div>

    <div class="row margin-bottom-20">
        <div class="offset-2 col col-sm-10"> 
            @{
                if (tempVar != null)
                {
                    for (int i = 0; i < tempVar.Domain.Count; i++)
                    {
                        <div class="input-group">
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="@("inlineRadio" + i.ToString())" value="option" @(i == 0 ? "checked" : "")>
                            </div>
                            <label id="@("labelinlineRadio" + i.ToString())" class="form-check-label lead" for="@("inlineRadio" + i.ToString())">@tempVar.Domain[i]</label>
                        </div>
                    }
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="offset-sm-8 col col-sm-4">
            <p><a class="btn btn-primary btn-lg text-white" onclick="SendAnswer();">Отправить ответ</a></p>
        </div>
    </div>

</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

        });


        function SendAnswer() {
            var optionId = $('.form-check-input:checked').first().attr('id');
            var varVal = $('#label' + optionId).html();
            window.location.href = '/Home/Answer?sessionId=@(sessionId)&varName=@(tempVar.Name)&varValue=' + varVal;
        }
    </script>
}





