@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Результат";
}


@using ConsultationWeb.Classes.DTO;

@{
    AdviceDto advice = (AdviceDto)ViewData["Advice"];
}

@{
    int i = 0;
    foreach (var film in advice.Films)
    {
        i++;
<div class="row hide" id="film_block_@i">

    <div class="col col-xs-12">
        <h1><a href="@(string.IsNullOrEmpty(film.Link) ? film.Link: "#")">@Html.Raw(film.Name)</a></h1>
    </div>

    <div class="col col-xs-4">
        <img src="@film.PosterUrl" alt="poster" height="400" />
    </div>

    <div class="col col-xs-6">
        <div class="row">
            <p><i>@Html.Raw(film.Slogan)</i></p>
        </div>

        <div class="row">
            <p>
                <b>Производство:</b>
                @{
                    foreach (var country in film.Countries)
                    {
                        @(Html.Raw(country.Name) + ";  ")
                    }
                }
            </p>
        </div>

        <div class="row">
            <p><b>Год:</b> @film.Year</p>
        </div>

        <div class="row">
            <p>
                <b>Жанр:</b>
                @{
                    foreach (var genre in film.Genries)
                    {
                        @(Html.Raw(genre.Name) + ";  ")
                    }
                }
            </p>
        </div>

        <div class="row">
            <p>
                <b>Режиссер:</b>
                @{
                    foreach (var producer in film.Producers)
                    {
                        @(Html.Raw(producer.Name) + ";  ")
                    }
                }
            </p>
        </div>

        <div class="row">
            <p>
                <b>В ролях:</b>
                @{
                    foreach (var actor in film.Actors)
                    {
                        @(Html.Raw(actor.Name) + ";  ")
                    }
                }
            </p>
        </div>

        <div class="row">
            <p>@Html.Raw(film.Description)</p>
        </div>

        <div class="row">
            <p><b>Рейтинг:</b> @(film.Rating.ToString("0.000"))</p>
        </div>
    </div>

    <div class="col col-xs-12">
        <div class="row" style="margin-top:20px;">
            <div class="col col-xs-12">
                <p><a class="btn btn-secondary btn-lg" onclick="ShowNext(@i);">Другое</a></p>
            </div>
        </div>
    </div>

</div>

    }
}



    @section scripts {
        <script type="text/javascript">
        $(document).ready(function () {
            $('#film_block_1').removeClass('hide');
        });

        function ShowNext(index) {
            $('#film_block_' + index).addClass('hide');
            if (index >= @advice.Films.Count)
                index = 0;

            $('#film_block_' + (index + 1)).removeClass('hide');
        }

        </script>
    }


